*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
.logo {
   font-family: 'Pacifico', cursive;
   font-size: 5rem;
   font-weight: 400;
}
header {
    height: 100vh;
    width: auto;
    padding: 2rem 0;
    background-image: url(../img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}
.navbar-nav {
    font-size: 1.6rem;
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    font-weight: 600;
}
.active {
    position: relative;
}
.active:before {
    content: '';
    position: absolute;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    border-top: .3rem solid rgb(255,96, 51);
}

header .container {
    height: 100%;
}
header .row {
    height: 100%;
    display: flex;
    
}
.header-col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
}
.text-heading {
    font-size: 6rem;
    font-weight: 900;
    text-align: left;
}
.text-paragraph {
    font-size: 1.7rem;
    color: rgb(38, 38, 38);
    text-align: left;
    margin-top: 15px;
    max-width: 370px;
    text-align: justify;
}
.header-col button {
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    background-color: rgb(255,96, 51);
    max-width: 200px;
    height: 55px;
    box-shadow: 2px 2px 10px #999;
    margin: 15px 0;
}  
.header-col button:hover {
    background-color: rgb(255, 89, 43);
}
.scroll-icon {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}
@media screen and (max-width: 768px) {  
    .active:before {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    header {
        background-position: left;
    }
}


/* about section */
.about {
    height: 70rem;
    width: 100vw;
    background-color: #00bfbf;
}
.about .container {
    height: 70rem;
}
.about .row {
    height: 100%;
}
.about-image {
    display: flex;
    align-items: center;
}
.about-image img{
    max-width: 56rem;
    left: -5rem;
}
.about-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    color: #fff;
}
.about-heading {
    font-size: 9rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.about-paragraph {
    font-size: 1.7rem;
}
@media screen and (max-width: 767px) { 
    .about, .about .container {
        height: 50rem;
        padding-top: 2rem;
    }
    .about-image {
        display: none;
    }
    .about-heading {
        font-size: 5rem;
        width: 100%;
        text-align: center;
    }
    .about-text {
        text-align: justify;
        padding: 0 2rem;
        left: -1rem;
    }
}

/* services section */
.services {
    height: 79rem;
    width: 100vw;
    background-color: #70bfff;
}

.services .container {
    height: 79rem;
}

.services .row {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.services-right {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.services-heading {
    width: 100%;
    font-size: 9rem;
    font-weight: 600;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.services-img {
    max-width: 56rem;
    position: relative;
}

.services-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-cards {
    width: 40rem;
}

.service-card {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    background-color: #fff;
    color: rgb(38, 38, 38);
    transition: all .3s ease-in-out;
    cursor: pointer;
}


.service-card:not(:last-child) {
    margin-bottom: 2rem;
}

.card-text {
    width: 300px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.card-icon {
    height: 100%;
    width: 100px;
    position: relative;
    border-left: 1px solid #9d9d9d;
} 
.card-icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.service-card:hover {
    box-shadow: 3px 3px 5px #666;
    transform: translate(-1px, -1px);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .services-heading {
        text-align: center;
        padding-left: 3rem;
    }   
    .services-img {
        padding-left: 1rem;
        max-width: 300px;
    }
}

@media screen and (max-width: 767px) {

    .services {
        height: 70rem;
    }

    .services-img {
        display: none;
    }
    .services-left {
        order: 1;
        height: auto;
        padding: 0;
        margin-top: -10rem;
    }

    .services-cards {
        padding: 0;
    }

    .services-right {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .services-heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        font-size: 5rem;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    .services-cards {
        width: 30rem;
    }

    .card-icon {
        width: 10rem;
    }
}

/* gallery */

.gallery {
    width: 100vw;
    background-color:#ffe92f;
    height: auto;
}

.gallery .container {
    height: 100%;
}

.gallery-heading {
    font-size: 9rem;
    font-weight: 600;
    color: rgb(38, 38, 38);
    margin-top: 10rem;
}

.gallery-paragraph {
    font-size: 1.7rem;
    color: rgb(38, 38, 38);
    max-width: 570px;
    text-align: center;
    margin: 30px auto 0px auto;
}

.grid-row-1 {
    margin-top: 4.5rem;
}
.gallery-card {
    transition: all .3s ease-in-out;
    box-shadow: 1px 1px 5px #4b4b4b;
}

.gallery-card:hover {
    box-shadow: 1px 1px 10px #333;
    transform: translate(-1px, -1px);
    cursor: pointer;
}

.gallery-1 {
    width: 100%;
    height: 55rem;
    background-image: url(../img/grid1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-row-1 .col-lg-4 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.gallery-2, .gallery-3 {
    width: 100%;
    height: 26rem;
}

.gallery-2 {
    background-image: url(../img/grid2.png);
    background-size: cover;
    background-position: left top;
}
.gallery-3 {
    background-image: url(../img/grid3.png);
    background-size: cover;
    background-position: left top;
}
.grid-row-2 {
   margin-top: 5rem;
   padding-bottom: 5rem;
}

.gallery-4 {
    width: 100%;
    height: 40rem;
    background-image: url(../img/grid4.png);
    background-size: cover;
    background-position: center;
}

.gallery-5 {
    width: 100%;
    height: 40rem;
    background-image: url(../img/grid5.png);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 992px) {
    .gallery-2, .gallery-3 {
        height: 40rem;
        margin-top: 3rem;
    }

    .gallery-4, .gallery-5 {
        margin-top: 3rem;
    }

    .grid-row-2 {
        margin-top: 0;
    }
}

@media screen and (max-width: 576px) {
    .gallery-card {
        width: 100%;
        height: 20rem;
    }
}

@media screen and (max-width: 767px) {
    .gallery-heading {
        font-size: 5rem;
    }
}

.gallery-btn {
    width: 20rem;
    height: 5.5rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 12rem;
    transition: all .3s ease-in-out;
    box-shadow: 1px 1px 5px #666;
}

.gallery-btn:hover {
    box-shadow: 2px 2px 5px #666;
    transform: translate(-1px, -1px);
    font-weight: 400;
}

/* subscribe */
.subscribe {
    width: 100vw;
    height: 50rem;
    background-image: url(../img/fwsub.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}

.subscribe-heading {
    font-size: 4rem;
    font-weight: 600;
    color: rgba(38, 38, 38, 255);
    padding-top: 14.5rem;
    padding-bottom: 3rem;
}

.subscribe-paragraph {
    font-size: 1.7rem;
    color: rgba(38, 38, 38, 255);
    font-weight: 300;
    text-align: left;
    max-width: 54rem;
}

.subscribe-input {
    padding: 2.2rem 1.5rem 2.2rem 1.5rem;
    font-size: 1.5rem;
    width: 100%;
    height: 5.5rem;
}

.input-col {
    padding-top: 2rem;
    padding-left: 0;
}

.subscribe-btn {
    width: 17rem;
    height: 5.5rem;
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    background-color: #96b92c;
    box-shadow: 1px 1px 5px #666;
    transition: all .3s ease-in-out;
}

.subscribe-btn:hover {
    box-shadow: 2px 2px 5px #666;
    font-weight: 400;
    transform: translate(-1px, -1px);
}

@media screen and (max-width: 767px) {
    .subscribe .container {
        padding: 0px 3rem;
    }
    .subscribe-heading {
        padding-top: 8rem;
    }
}

/* blog */
.blog {
    width: 100vw;
    height: auto;
    background-color: #b07cf7;
}

.blog-heading {
    font-size: 9rem;
    font-weight: 600;
    color: #fff;
    padding-top: 10rem;
}

.blog-paragraph {
    font-size: 1.7rem;
    font-weight: 300;
    color: #fff;
    max-width: 60rem;
    margin: 0 auto;
    padding: 3rem 0rem;
}
.posts {
    padding-bottom: 3rem;
}

.blog-post {
    width: 100%;
    height: 31rem;
    background-color: #000;
    cursor: pointer;
    box-shadow: 1px 1px 5px #4b4b4b;
    transition: all .3s ease-in-out;
    position: relative;
}

.blog-post:hover {
    box-shadow: 1px 1px 10px #333;
    transform: translate(-1px, -1px);
}

.blog-post--1 {
    background: linear-gradient(transparent, rgba(0, 0, 0, .9)), url(../img/blog1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.blog-post--2 {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9)), url(../img/blog2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: relative;
}
.blog-post--3 {
    background: linear-gradient(transparent, rgba(0, 0, 0, .9)), url(../img/blog3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.post-date {
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 10%;
    top: 10%;
    background-color: rgba(0,0,0, 0.5);
    border-radius: .5rem;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    line-height: 1;
}

.date-day {
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
}
.date-month {
    font-size: 2.1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.post-info {
    position: absolute;
    bottom: 5%;
    left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
}

.post-title {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}

.post-author {
    font-size: 1.3rem;
    font-weight: 300;
    color: #fff;
    margin-top: 1.5rem;
}

.blog-btn {
    width: 17rem;
    height: 5.5rem;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    background-color: #f72b3b;
    box-shadow: 1px 1px 5px #666;
    transition: all .3s ease-in-out;
    margin-bottom: 14rem;
    margin-top: 1rem;
}

.blog-btn:hover {
    box-shadow: 2px 2px 5px #666;
    font-weight: 400;
    transform: translate(-1px, -1px);
}

@media screen and (max-width: 992px) {
    .blog-post {
        height: 30rem;
        margin-bottom: 3rem;
    }
}